

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image: url("../img/stones.jpg");
    text-align: center;
    background-size: 100%;
    background-repeat:no-repeat;
}

.menuFloatRight{
	float: right !important;
    padding-right: 2em !important;
}

.contact{
    margin-top: 100px;
    margin-left: 275px;
    text-align: center;
    padding-left: 200px;
}
.link{
    float: right;        
}
#git{
    border-radius: 50%; 
}
.info {
    text-decoration: underline;
    text-align: center;
     color: #E80000;
     font-size: 200%;
     }
 .bdy {
 background-image: url("../img/stones.jpg");
 background-repeat:no-repeat;
 background-size:cover;
 color: #010101;
 font-size: 120%;
 }
 .heading {
     font-style:  italic;
     color : #001DEC;
 }
 
 .name {
     color:#EB0909;
     text-decoration: underline;
 }
 .img-circle{
     border-radius: 50%;
     float:right;
 }
 .video{
     float: right;
 }
 










